{#
	Color
	==============================
	* name: 		STRING - The colors name | Default: null
	* hex: 			STRING - The colors hex value | Default: null
	* classes: 		ARRAY (optional) - Custom classes
	* attributes: 	OBJECT (optional) - Custom attributes
#}

{# Set the element's default properties #}
{% set name = name | default() %}
{% set hex = hex | default() %}
{% set classes = classes | default() %}
{% set attributes = attributes | default() %}

{# Set the element's base classes #}
{% set elementBaseClasses = [
	'color-block'
] %}

{# Merge custom classes with the base classes #}
{% if classes is not empty %}
	{% set elementBaseClasses = elementBaseClasses | merge(classes) %}
{% endif %}

{# Set the element's base attributes #}
{% set elementAttributes = {
	class: elementBaseClasses
} %}

{# Merge custom attributes with the base attributes #}
{% if attributes is not empty %}
	{% set elementAttributes = elementAttributes | merge(attributes) %}
{% endif %}

{# Render the HTML #}
{% if hex is not empty %}
	<div {{ attr(elementAttributes) }}>
		<div class="color-block__color" style="background: {{ hex }}"></div>
		<div class="color-block__content">
			<p class="color-block__heading">
				{{ name }}
			</p>
			<code class="color-block__hex">{{ hex }}</code>
		</div>
	</div>
{% endif %}
