{#
  Fonts
  ==============================
  * name: STRING - The font name | Default: null
  * class: STRING - The color's class | Default: null
  * classes: ARRAY (optional) - Custom classes
  * attributes OBJECT (optional) - Custom attributes
#}

{# Set the element's default properties #}
{% set name = name | default() %}
{% set class = class | default() %}
{% set classes = classes | default() %}
{% set attributes = attributes | default() %}

{# Set the element's base classes #}
{% set elementBaseClasses = [
	class,
	'font-block',
] %}

{# Merge custom classes with the base classes #}
{% if classes is not empty %}
	{% set elementBaseClasses = elementBaseClasses | merge(classes) %}
{% endif %}

{# Set the element's base attributes #}
{% set elementAttributes = {
	class: elementBaseClasses
} %}

{# Merge custom attributes with the base attributes #}
{% if attributes is not empty %}
	{% set elementAttributes = elementAttributes | merge(attributes) %}
{% endif %}

{# Render the HTML #}
{% if name is not empty %}
	<div {{ attr(elementAttributes) }}>
		<p class="font-block__name">
			{{ name }}
		</p>
		<p class="font-block__demo">
			abcdefghijklmnopqrstuvwxyz<br />
			1234567890<br />
			!@£$%&*?+
		</p>
	</div>
{% endif %}
