{#
	Fonts
	==============================
	* name: STRING - The font's name | Default: null
	* class: STRING - The font's class | Default: null
	* classes: ARRAY (optional) - Custom classes
	* attributes OBJECT (optional) - Custom attributes
#}

{# Set the element's default properties #}
{% set name = name | default(null) %}
{% set class = class | default(null) %}

{# Set the element's base classes #}
{% set elementBaseClasses = ['col-span-1 p-10 shadow-lg rounded-2xl overflow-hidden'] %}

{# Merge custom classes with the base classes #}
{% if classes is defined and classes is not empty %}
	{% set elementBaseClasses = elementBaseClasses | merge(classes) %}
{% endif %}

{# Set the element's base attributes #}
{% set elementAttributes = {
	class: elementBaseClasses
} %}

{# Merge custom attributes with the base attributes #}
{% if attributes is defined and attributes is not empty %}
	{% set elementAttributes = elementAttributes | merge(attributes) %}
{% endif %}

{# Render the HTML #}
{% if name is not empty %}
	<div {{ attr(elementAttributes) }}>
		<p class="text-[40px] mb-6">
			{{ name }}
		</p>
		<p class="text-[26px] mb-0 break-words">
			abcdefghijklmnopqrstuvwxyz<br />
			1234567890<br />
			!@£$%&*?+
		</p>
	</div>
{% endif %}
