{#
	Content
	==============================
	* section: STRING - The name of the style guide section | Default: null
	* template: STRING - The path of the style guide section's template | Default: null
	* classes: ARRAY (optional) - Custom classes
	* attributes OBJECT (optional) - Custom attributes
#}

{# Set the element's default properties #}
{% set section = section | default(null) %}
{% set template = template | default(null) %}

{# Set the element's base classes #}
{% set elementBaseClasses = [] %}

{# Merge custom classes with the base classes #}
{% if classes is defined and classes is not empty %}
	{% set elementBaseClasses = elementBaseClasses | merge(classes) %}
{% endif %}

{# Set the element's base attributes #}
{% set elementAttributes = {
	id: 'content',
	class: elementBaseClasses,
	'data-content': section | kebab,
	'aria-labelledby': section | kebab,
	tabindex: '0',
	role: 'tabpanel'
} %}

{# Merge custom attributes with the base attributes #}
{% if attributes is defined and attributes is not empty %}
	{% set elementAttributes = elementAttributes | merge(attributes) %}
{% endif %}

{# Render the HTML #}
{% if section %}
	<div {{ attr(elementAttributes) }}>
		<div id="canvas-wrapper">
			<h2>
				{{ section }}
			</h2>
			<div id="loader">
				{% include global.url ~ '/_atoms/_icons/_loader' %}
			</div>
			<iframe id="canvas" data-path="/{{ template }}"></iframe>
		</div>
	</div>
{% endif %}
