{#
	Main
	==============================
	* classes: ARRAY (optional) - Custom classes
	* attributes OBJECT (optional) - Custom attributes
#}

{# Set the element's base classes #}
{% set elementBaseClasses = [] %}

{# Merge custom classes with the base classes #}
{% if classes is defined and classes is not empty %}
	{% set elementBaseClasses = elementBaseClasses | merge(classes) %}
{% endif %}

{# Set the element's base attributes #}
{% set elementAttributes = {
	id: 'main',
	class: elementBaseClasses
} %}

{# Merge custom attributes with the base attributes #}
{% if attributes is defined and attributes is not empty %}
	{% set elementAttributes = elementAttributes | merge(attributes) %}
{% endif %}

{# Get all sections from the style guide configuration #}
{% set sections = [] %}
{% for section in styleGuide.config.sections %}
	{% if section.sub | default(null) %}
		{% for levelOne in section.sub %}
			{% set sections = sections | merge([levelOne.title]) %}
			{% if levelOne.sub | default(null) %}
				{% for levelTwo in levelOne.sub %}
					{% set sections = sections | merge([levelTwo.title]) %}
				{% endfor %}
			{% endif %}
		{% endfor %}
	{% else %}
		{% set sections = sections | merge([section.title]) %}
	{% endif %}
{% endfor %}

{# Render the HTML #}
<main {{ attr(elementAttributes) }}>
	<div data-container>
		{% include global.url ~ '/style-guide/_organisms/_toolbar' %}

		{% for section in sections %}
			{% set template = global.url ~ '/style-guide/sections/' ~ (section | kebab) %}
			{% if include(template, ignore_missing = true) is not empty %}
				{% include global.url ~ '/style-guide/_organisms/_content' with {
					section: section,
					template: template
				} %}
			{% endif %}
		{% endfor %}
	</div>
</main>
