{% extends 'websitedocumentation/_layouts/settings' %}

{% import '_includes/forms' as forms %}

{% set title = 'Guide Settings'|t('websitedocumentation') %}

{# Check if Document Plugin is installed #}
{% set redactor = craft.app.plugins.getPlugin('redactor', false) %}

{% block content %}
	<input type="hidden"
		name="action"
		value="websitedocumentation/settings/save-structure-settings" />
	{{ redirectInput('websitedocumentation/settings/cms-guide') }}
	{{ csrfInput() }}

	<h2 class="first">
		{{ 'Guide Settings'|t('websitedocumentation') }}
	</h2>

	{% if redactor is not empty %}
		{% namespace 'settings' %}
		{{
			forms.textField({
				label: 'Structure name',
				instructions: 'This will be the name of the structure you want to create to house the CMS Guide pages',
				id: 'structure',
				name: 'structure',
				value: settings.structure ?? null
			})
		}}

		{% endnamespace %}

		{% if settings.structureExists %}
			<p>
				<strong>Default Entries</strong><br />
				Now your structure has been created, you can choose whether or not
				to add some default entries. Please check that the asset index has
				finished before adding the entries
			</p>

			<a class="btn submit"
				href="/index.php?p=admin/actions/websitedocumentation/settings/save-default-entries">
				Add Default Entries
			</a>
		{% endif %}
	{% else %}
		<p>
			Please make sure the redactor plugin is installed & enabled before
			using this plugin.
		</p>
	{% endif %}
{% endblock %}
