{% extends '_layouts/cp' %}

{% set title = 'Settings' %}

{% import '_includes/forms' as forms %}

{% block content %}
	<input type="hidden"
		name="action"
		value="websitedocumentation/settings/save-structure-settings" />

	{% namespace 'settings' %}
	{{
		forms.textField({
			label: 'Structure name',
			instructions: 'This will be the name of the structure you want to create to house the CMS Guide pages',
			id: 'structure',
			name: 'structure',
			value: settings.structure ?? null
		})
	}}
	{% endnamespace %}

	{% if settings.structure %}
		<p>
			<strong>Default Entries</strong><br />
			Now your structure has been created, you can choose whether or not to add some
			default entries.
		</p>

		<a class="btn submit"
			href="/index.php?p=admin/actions/websitedocumentation/settings/save-default-entries">
			Add Default Entries
		</a>
	{% endif %}
{% endblock %}
