{#
	Main
	==============================
	* classes: ARRAY (optional) - Custom classes
	* attributes OBJECT (optional) - Custom attributes
#}

{# Set the element's base classes #}
{% set elementBaseClasses = [] %}

{# Merge custom classes with the base classes #}
{% if classes is defined and classes is not empty %}
	{% set elementBaseClasses = elementBaseClasses | merge(classes) %}
{% endif %}

{# Set the element's base attributes #}
{% set elementAttributes = {
	id: 'main',
	class: elementBaseClasses
} %}

{# Merge custom attributes with the base attributes #}
{% if attributes is defined and attributes is not empty %}
	{% set elementAttributes = elementAttributes | merge(attributes) %}
{% endif %}

{% set section = cmsGuide.config.websitedocumention.section %}
{% set settingsUrl = cmsGuide.config.websitedocumention.settingsUrl %}
{% set entries = craft.entries.section(section.handle).all() | default %}

{# Render the HTML #}
<main {{ attr(elementAttributes) }}>
	<div data-container>
		{% if entries is not empty %}
			{% for entry in entries %}
				{% include global.url ~ '/cms-guide/_organisms/_content' with {
					section: entry.title,
					content: entry.documentBodyField,
				} %}
			{% endfor %}
		{% else %}
			<p id="no-entries">
				No entries exist under the {{ section.name }} section. Default entries
				can be generated via the Website Documentation
				<a href="{{ settingsUrl }}" target="_blank">plugin settings</a>.
			</p>
		{% endif %}
	</div>
</main>
