{#
Main
==============================
* classes: ARRAY (optional) - Custom classes
* attributes OBJECT (optional) - Custom attributes
#}

{# Set the element's base classes #}
{% set elementBaseClasses = [
	'flex justify-center items-center py-base sm:py-base-sm md:py-base-md'
] %}

{# Merge custom classes with the base classes #}
{% if classes is defined and classes is not empty %}
	{% set elementBaseClasses = elementBaseClasses | merge(classes) %}
{% endif %}

{# Set the element's base attributes #}
{% set elementAttributes = {
	id: 'main',
	class: elementBaseClasses
} %}

{# Merge custom attributes with the base attributes #}
{% if attributes is defined and attributes is not empty %}
	{% set elementAttributes = elementAttributes | merge(attributes) %}
{% endif %}

{# Get properties from settings #}
{% set brandBackground =  global.settings.brandBgColor | default('D7D7D7') %}
{% set brandText =  global.settings.brandTextColor | default('000') %}

{% set indexBlocks = [
	{
		url: '/' ~ websitedocumentation.getUrl(currentSite.handle) ~ '/style-guide',
		icon: websitedocumentation.getUrl(currentSite.handle) ~ '/_atoms/_icons/_style-guide',
		title: 'Style Guide' | t,
		display: global.settings.displayStyleGuide == '1' ? true : false,
	},
	{
		url: '/' ~ websitedocumentation.getUrl(currentSite.handle) ~ '/cms-guide',
		icon: websitedocumentation.getUrl(currentSite.handle) ~ '/_atoms/_icons/_cms-guide',
		title: 'CMS Guide' | t,
		display: global.settings.displayCmsGuide == '1' ? true : false,
	}
] %}

{# Render the HTML #}
<main {{ attr(elementAttributes) }}>
	<section id="index-main">
		{% for block in indexBlocks %}
			{% if block.display %}
				<div class="index-main__block">
					<a href="{{ block.url }}">
						<div class="index-main__block-icon"
							style="background: #{{ brandBackground }}">
							{% set icon = block.icon %}
							{% if include(icon, ignore_missing = true) is not empty %}
								<span class="icon">
									{% include icon with {
										attributes: {
											style: 'fill: #' ~ brandText
										}
									} only %}
								</span>
							{% endif %}
						</div>
						<div class="index-main__block-title">
							<h2>
								{{ block.title }}
							</h2>
						</div>
					</a>
				</div>
			{% endif %}
		{% endfor %}
	</section>
</main>
