<p>
	<strong>Assets</strong> fields allow you to upload/choose assets from the Assets area of the control panel. When you click on an Assets field, a popup window will appear displaying all the existing assets in that assets group (see image below). From this popup window you can either choose one (or more, depending on the entry type) of the existing assets, or upload a new one by clicking the grey <strong>Upload files</strong> button in the bottom left corner of the popup window.
</p>

<p>
	Once you’ve chosen the relevant asset, click the red <strong>Select</strong> button at the bottom right of the popup window (see screenshot below).
</p>

<p>
	< ADD IMAGE >
</p>

<p>
	A thumbnail image of the selected asset will now appear in place of the button in the Assets field. To choose a different asset, click the grey ‘cross’ icon next to the thumbnail and repeat the process.
</p>

<p>
	< ADD IMAGE >
</p>

<h2>
	Alt Text
</h2>

<p>
	When adding an image, you should also add '<strong>Alternative Text</strong>' to help with your sites accessibility. To do this, you need to double click on the asset which will open a popup to the side of your screen.
</p>

<p>
	Here you will see an <strong>Alt Text</strong> field which you can fill in with a description of each image.
</p>

<p>
	< ADD IMAGE >
</p>

<h2>
	Focal Points
</h2>

<p>
	Each Image can be given a focal point, which means if the image is cropped to work with the design, you can choose the centre of the crop.
</p>

<p>
	To do this you need to click on the image once, and this will open a popup of the image with an <strong>Enable Focal Point</strong> button in the top right. Once clicked you will see a small circle appear on the image which you can drag to the main focal area. Once happy, you can click off from the image and save the entry to see your changes.
</p>

<p>
	< ADD IMAGE >
</p>

<h2>
	Scaling
</h2>

<p>When you upload an image, the website will automatically create a variety of images of different sizes from this original image. The correct size image is then displayed on the website depending on the screen size of the device. This keeps the website loading times down and ensures that the end user isn’t downloading more data than they actually need.</p>
