<p>The <strong>Entry Picker</strong> field allows you to choose one (or multiple, depending on the entry section) existing entries from the CMS. These fields are generally used to display other entries within that page.</p>
