<p>Clicking on Entries in the control panel sidebar will take you to a screen where you can view all the current entries on the website. The entries are broken up into different sections, which can see in the light grey secondary sidebar.</p>

<p>Once you are within the Entries area of the control panel, you can click on the red New entry button at the top right of the screen to create a new entry. </p>

<img src="/cms-assets/websiteGuideImages/new-entry-button.png" alt="New Entry Button" />

<p>If you currently have All Entries or Singles selected in the secondary sidebar, clicking on the button will display a dropdown where you can choose the type of entry you want to create.</p>

<p>If you have one of the other entry sections selected in the secondary sidebar (e.g. Pages), then clicking on the button will take you to the relevant screen to create a new entry of that type (although you can still select one of the other entry sections by clicking the arrow icon on the button to see the dropdown options).</p>

<p>To edit an existing entry, simply click on its title from the list.</p>
