<p>SEOmatic is being used for your website’s SEO. This has been customised to use the SEO tab in each page.</p>

<p>Within the Dashboard you can also add tracking scripts here for the following:</p>

<ul>
	<li>Google Gtag</li>
	<li>Google Tag Manager</li>
	<li>Facebook Pixel</li>
	<li>Linkedin Insight</li>
	<li>HubSpot</li>
	<li>Fathom</li>
	<li>Matomo</li>
	<li>Plausible</li>
</ul>
