{#
	Back Link
	==============================
	* global: OBJECT | Default: null
	* classes: ARRAY (optional) - Custom classes
	* attributes OBJECT (optional) - Custom attributes
#}

{# Set default values #}
{% set global = global | default() %}

{# Set the element's base classes #}
{% set elementBaseClasses = [] %}

{# Merge custom classes with the base classes #}
{% if classes is defined and classes is not empty %}
	{% set elementBaseClasses = elementBaseClasses | merge(classes) %}
{% endif %}

{% if global is not empty %}
	{# Set the element's base attributes #}
	{% set elementAttributes = {
		href: '/',
		id: 'site-button',
		title: 'Back to Website' | t,
		style: {
			background: '#' ~ global.colors.brandBackground,
			color: '#' ~ global.colors.brandText,
		}
	} %}

	{# Merge custom attributes with the base attributes #}
	{% if attributes is defined and attributes is not empty %}
		{% set elementAttributes = elementAttributes | merge(attributes) %}
	{% endif %}

	{# Render the HTML #}
	<a {{ attr(elementAttributes) }}>
		<span class="icon">
			{% include websitedocumentation.getUrl(currentSite.handle) ~ '/_atoms/_icons/_arrow' with {
				attributes: {
					style: 'fill: #' ~ global.colors.brandText,
				}
			} only %}
		</span>
		{{ 'Back to Website' | t }}
	</a>
{% endif %}
