{#
	Colors
	==============================
	One of the sections displayed in the style guide.
#}

{# Inherit the blocks and their content from the style guide layout. #}
{% extends websitedocumentation.getUrl() ~ '/_layouts/_section' %}

{% block body %}
	{# Render the HTML #}
	<section>
		{% embed global.url ~ '/style-guide/_embeds/_container' %}
			{% block content %}
				<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-10">
					{% for color in styleGuide.data.colors %}
						{% include global.url ~ '/style-guide/_atoms/_color' with {
							name: color.name,
							class: color.class,
							hex: color.hex
						} %}
					{% endfor %}
				</div>
			{% endblock %}
		{% endembed %}
	</section>
{% endblock %}
