{#
	Colors
	==============================
	One of the sections displayed in the styleguide.
#}

{# Inherit the blocks and their content from the styleguide layout. #}
{% extends websitedocumentation.getUrl(currentSite.handle) ~ '/_layouts/_section.twig' %}

{% block head %}
	{{ parent() }}
	{# Head content to be inherited by this template ONLY. The `parent` function
	inherits the content from the styleguide layout's head block. #}
	{% do view.registerAssetBundle(global.bundles.components) %}
{% endblock %}

{% block body %}
	{# Fetch the relevant styleguide data #}
	{% set colorArray = styleGuide.data.colors %}

	{# Render the HTML #}
	<section>
		{% embed websitedocumentation.getUrl(currentSite.handle) ~ '/style-guide/_embeds/_container' with {
			contentClasses: [
				'container-padding',
			]
		} %}
			{% block content %}
				<div id="color-grid">
					{% for colors in colorArray %}
						{% for color in colors %}
							{% include global.url ~ '/style-guide/_atoms/_color' with {
								name: color.name,
								hex: color.hex
							} %}
						{% endfor %}
					{% endfor %}
				</div>
			{% endblock %}
		{% endembed %}
	</section>
{% endblock %}
