{#
	Cookie Bar
	==============================
#}

{# Inherit the blocks and their content from the styleguide layout. #}
{% extends 'website-docs/_layouts/_style-guide.twig' %}

{% block body %}
	<div class="{{ sectionClasses }}">
		{% include '_organisms/cookie-bar' with {
			content: data.cookies.richContent
		} only %}
		<div class="mt-8">
			<h6 class="{{ labelClasses }}">
				Notes
			</h6>

			<p>
				When adding this to the footer, you'll need to include the following to
				ensure the JS works:<ul>
					<li>Attributes</li>
					<ul>
						<li><code>id: 'cookie-notice'</code></li>
					</ul>
					<li>Classes (Change as per design)</li>
					<ul>
						<li><code>hidden</code></li>
						<li><code>fixed</code></li>
						<li><code>bottom-4</code></li>
						<li><code>left-4</code></li>
						<li><code>w-[calc(100%-2rem)]</code></li>
					</ul>
				</ul>
			</p>
		</div>
	</div>
{% endblock %}
