{#
	Buttons
	==============================
	One of the sections displayed in the styleguide.
#}

{# Inherit the blocks and their content from the styleguide layout. #}
{% extends 'website-docs/_layouts/_style-guide.twig' %}

{% block body %}
	{# Set the data specific to the section #}
	{% set data = {
		buttons: {
			one: {
				text: styleguide.data.placeholders.tiny,
				url: styleguide.data.placeholders.url
			},
			two: {
				text: styleguide.data.placeholders.tiny,
				url: styleguide.data.placeholders.url,
				classes: ['pink']
			},
			three: {
				text: styleguide.data.placeholders.tiny,
				url: styleguide.data.placeholders.url,
				classes: ['orange']
			},
			four: {
				text: styleguide.data.placeholders.tiny,
				url: styleguide.data.placeholders.url,
				classes: ['yellow']
			},
			five: {
				text: styleguide.data.placeholders.tiny,
				url: styleguide.data.placeholders.url,
				classes: ['blue']
			},
			six: {
				text: styleguide.data.placeholders.tiny,
				url: styleguide.data.placeholders.url,
				classes: ['light-blue']
			},
			seven: {
				text: styleguide.data.placeholders.tiny,
				url: styleguide.data.placeholders.url,
				classes: ['teal']
			},
			eight: {
				text: styleguide.data.placeholders.tiny,
				url: styleguide.data.placeholders.url,
				classes: ['dark-teal']
			},
			nine: {
				text: styleguide.data.placeholders.tiny,
				url: styleguide.data.placeholders.url,
				classes: ['purple']
			},
			ten: {
				text: styleguide.data.placeholders.tiny,
				url: styleguide.data.placeholders.url,
				classes: ['plum']
			},
			eleven: {
				text: styleguide.data.placeholders.tiny,
				url: styleguide.data.placeholders.url,
				classes: ['white']
			}
		}
	} %}

	{# Fetch the relevant styleguide data #}
	{% set sectionPadding = styleguide.classes.sectionPadding %}
	{% set sectionLabel = styleguide.classes.sectionLabel %}

	{# Render the HTML #}
	<section id="primary-buttons-section">
		{% embed websitedocumentation.getUrl() ~ '/style-guide/_embeds/_container'
		%}
			{% block content %}
				<div class="flex flex-wrap gap-4">
					{% for button in data.buttons %}
						{% include '_atoms/_button' with {
							url: button.url,
							text: button.text,
							classes: button.classes | default
						} %}
					{% endfor %}
				</div>
			{% endblock %}
		{% endembed %}
	</section>
{% endblock %}
