{#
  CMS Guide Layout
  ==============================
	The layout inherited by templates specific to the CMS guide site.
#}

{# Inherit the blocks and their content from the master layout. #}
{% extends 'website-docs/_layouts/_global.twig' %}

{# Import the `config()` and `data()` macros containing JSON-encoded strings.
These string will need to be transformed into valid JSON objects before they can
be referenced by all templates inheriting this layout. #}
{% import websitedocumentation.getUrl() ~ '/cms-guide/_config.twig' as config %}

{# Set an object containing data inherited by the CMS guide site ONLY. #}
{% set guide = {
	config: config.config() | spaceless | replace('&quot;', '"') | json_decode,
	classes: {
		sectionPadding: 'px-base sm:px-base-sm md:px-base-md',
		sectionLabel: 'font-bold text-gray mb-4'
	}
} %}

{# The basic essentials of all webpages served across the project. #}
{% block html %}
	{% include '_partials/_http-headers' %}

	<!DOCTYPE html>
	<html lang="{{ currentSite.language }}" dir="ltr" class="no-js">
		<head>
			{% block head %}
				{# Head content to be inherited by ALL layouts and templates. #}
				{% include '_partials/_head-scripts.twig' ignore missing %}
				{% include '_partials/_favicons.twig' ignore missing %}
			{% endblock %}
		</head>

		<body id="body">
			{% block body %}
				{# Body content to be inherited by ALL layouts and templates. #}
			{% endblock %}
			{% include '_partials/_foot-scripts.twig' ignore missing %}
		</body>
	</html>
{% endblock %}
