{#
  Master Layout
  ==============================
	The layout inherited by all layouts and templates across the project.
#}

{# Inherit the blocks and their content from the globals file. #}
{% extends websitedocumentation.getUrl() ~ '/_layouts/_global' %}

{# The basic essentials of all webpages served across the project. #}
{% block html %}
	<!DOCTYPE html>
	<html lang="{{ currentSite.language }}" dir="ltr">
		<head>
			{% block head %}
				{# Head content to be inherited by ALL layouts and templates. #}
			{% endblock %}
		</head>

		<body id="body">
			{% block body %}
				{# Body content to be inherited by ALL layouts and templates. #}
			{% endblock %}
		</body>
	</html>
{% endblock %}
