{% set header = block('header') ?? null %}
{% set content = block('content') ?? null %}
{% set notes = block('notes') ?? null %}

{% if header | spaceless is not empty %}
	<div class="px-base sm:px-base-sm md:px-base-md mb-6 mb-20">
		<div class="container">
			{% block header %}

			{% endblock %}
		</div>
	</div>
{% endif %}

{% if content | spaceless is not empty %}
	<div class="px-base sm:px-base-sm md:px-base-md mb-20">
		<div class="container">
			{% block content %}

			{% endblock %}
		</div>
	</div>
{% endif %}

{% if notes | spaceless is not empty %}
	<div class="px-base sm:px-base-sm md:px-base-md mt-6 mb-20">
		<div class="container">
			{% embed websitedocumentation.getUrl() ~ '/style-guide/_embeds/_notes' %}
				{% block content %}
					{{ notes | raw }}
				{% endblock %}
			{% endembed %}
		</div>
	</div>
{% endif %}
