{% set header = block('header') ?? null %}
{% set content = block('content') ?? null %}
{% set notes = block('notes') ?? null %}

{% if header | spaceless is not empty %}
	<div class="px-base md:px-base-md mb-6">
		<div class="container">
			{% block header %}

			{% endblock %}
		</div>
	</div>
{% endif %}

{% if content | spaceless is not empty %}
	<div class="px-base md:px-base-md">
		<div class="container">
			{% block content %}

			{% endblock %}
		</div>
	</div>
{% endif %}
