{% set content = block('content') ?? null %}

{% if content | spaceless is not empty %}
	<div class="bg-[#f8fafc] p-base sm:p-base-sm rounded-lg">
		<div class="container">
			{% block content %}

			{% endblock %}
		</div>
	</div>
{% endif %}
