<p>
	When you first sign into the control panel, the first thing you’ll see is the
	Dashboard. This area gives you an overview of what content has recently been
	added/edited, if there are any updates to the CMS available and other news
	relating to Craft CMS.
</p>

<p>
	The other main areas in the control panel can be accessed from the links in
	the dark grey sidebar.
</p>
