<p>When you first sign into the control panel, the first thing you’ll see is the Dashboard.</p>
<p>We recommend setting up the dashboard to view the following Widgets:</p>
<ul>
    <li>Recent Entries</li>
    <li>Documentation</li>
    <li>Toward Support</li>
    <li>Toward News</li>
</ul>
<p>You can set up these widgets by:</p>
<ol>
    <li>Click the gear at the top right of the dashboard and delete any unnecessary widgets.</li>
    <li>Click <strong>New Widget</strong> and select the widgets above to display.</li>
</ol>
<p>You can change the settings for each widget by hovering over the block and clicking the gear that appears in the top right.</p>
