<p>
	The Entries area of the control panel is where you’ll be spending most of your time when adding/editing content on the website. In Craft CMS, the word Entry is used to describe a single element of the website, whether that’s a page or a project, blog etc.
</p>
<p>
	Entries are divided up into 3 different types:
</p>
<ul>
	<li>Singles</li>
	<li>Channels</li>
	<li>Structures</li>
</ul>
<h2>
	Singles
</h2>
<p><strong>Singles</strong> represent one-off unique pages on the website (e.g. Home page) or Settings.</p>
<p>If the entry has a url you'll be able to edit the content that exists only on that page. These are pages which have no <strong>children</strong>, depend on other content on the site or have hard coded elements (such as employer login).</p>
<p>The Global Settings contains fields that are used across your site in multiple places, such as logo.</p>

<h2>
	Channels
</h2>
<p>
	<strong>Channels</strong> is where you’ll find any entries that are, by default, sorted by date.
</p>
<p>
	E.g. The <strong>Journals</strong> entries will be found here since, on the front end of the website, these entries are ordered from most recent to oldest.
</p>
<h2>
	Structures
</h2>
<p>
	<strong>Structures</strong> is where you’ll find any entries which have children attached to them. These entries can be sorted into a manual order. To drag an entry into a new position, simply click on the ‘4 dots’ icon, hold down the mouse button and drag the item into the new position in the stack.
</p>
