<p>
	Those users that have the relevant permissions will also see a <strong>
		Users
	</strong> option in the control panel sidebar.
</p>

<p>
	From here you’ll be able to add new users, edit/disable existing users, reset
	passwords and define what permissions a specific user has regarding which
	areas of the CMS they can access.
</p>
