{#
  CMS Guide Index
  ==============================
	The web server's default page for the CMS guide site.
#}

{# Inherit the blocks and their content from the site layout. #}
{% extends 'website-docs/_layouts/_guide-overview' %}

{% block head %}
	{{ parent() }}
	{# Head content to be inherited by this template ONLY. The `parent` function
	inherits the content from the styleguide layout's head block. #}
	{% do view.registerAssetBundle(
		'bluegg\\websitedocumentation\\assetbundles\\CMSGuideAsset'
	) %}
{% endblock %}

{% block body %}
	{{ parent() }}
	{# Body content to be inherited by this template ONLY. The `parent` function
	inherits the content from the styleguide layout's body block. #}
	{% set isPluginEnabled =
		guide.config.websitedocumention.isEnabled | default(false)
	%}
	{% set section = guide.config.websitedocumention.section %}
	{% set settingsUrl = guide.config.websitedocumention.settingsUrl %}

	{% if isPluginEnabled %}
		{% if section is not empty %}
			{% include websitedocumentation.getUrl()
				~ '/cms-guide/_organisms/_aside' with {
				classes: ['flex-shrink-0']
			} %}
			{% include websitedocumentation.getUrl()
				~ '/cms-guide/_organisms/_main' %}
		{% else %}
			<div id="content-wrapper">
				<p class="font-bold">
					No section has been created for the Website Documentation plugin.
					Please enter a chosen section name in the
					<a href="{{ settingsUrl }}" target="_blank">plugin's settings</a>.
				</p>
			</div>
		{% endif %}
	{% else %}
		<div id="content-wrapper">
			<p>
				The Website Documentation plugin is currently not enabled! This template
				will not work until this plugin is enabled.
			</p>
		</div>
	{% endif %}
{% endblock %}
